:root {
  --app-font: 'Josefin Sans', 'Lato', sans-serif;
  --neutral-color: white;
}

.App {
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color:white;
}

